<!DOCTYPE html>
<html>
<head>
  <title>QA Application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div id="header" class="span-24 last">
  <%= link_to image_tag("sponsorpay-logo.png"), root_url %>
  </div>

  <div class="span-4">
  <h3>Menu:</h3>
  <%= render :partial => "shared/menu" %><br />
  <h3>Category:</h3>
  <%= render :partial => "shared/category" %><br />
  <h3>Netstat:</h3>
  <%= render :partial => "shared/port" %><br />
  <h3>Admin:</h3>
  <%= render :partial => "shared/admin" %><br />
  </div>

  <div class="span-20 last">
  <%= yield %>
  </div>

  <div class="span-24">
  <p class="small" style="text-align: center">SponsorPay GmbH</p>
  </div>

</div>

</body>
</html>
